In [1]:
import pandas as pd
import numpy as np

c:\Users\adars\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\adars\anaconda3\lib\site-packages\numpy\.libs\libopenblas.4SP5SUA7CBGXUEOC35YP2ASOICYYEQZZ.gfortran-win_amd64.dll
c:\Users\adars\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [6]:
data = pd.read_excel(r'C:\Users\adars\OneDrive\Escritorio\Uni\datathon\healthcare_challenge\data\consumo_material_clean.xlsx', parse_dates = ['FECHAPEDIDO'])

In [10]:
data['CATEGORY'] = data['CODIGO'].apply(lambda x: x[0])

In [13]:
data.groupby('CATEGORY').count()

,CODIGO,FECHAPEDIDO,NUMERO,REFERENCIA,CANTIDADCOMPRA,UNIDADESCONSUMOCONTENIDAS,PRECIO,IMPORTELINEA,TIPOCOMPRA,ORIGEN,TGL,PRODUCTO
CATEGORY,,,,,,,,,,,,
B,1449,1449,1449,1449,1449,1449,1449,1449,1449,1449,1449,1449
C,94,94,94,94,94,94,94,94,94,94,94,94
E,13002,13002,13002,13002,13002,13002,13002,13002,13002,13002,12899,13002
F,1153,1153,1153,1153,1153,1153,1153,1153,1153,1153,1153,1153

In [30]:
data.to_csv(r'C:\Users\adars\OneDrive\Escritorio\Uni\datathon\healthcare_challenge\data\consumo_material_clean_with_category.csv', index=False)

In [1]:
data[data['CATEGORY'] == 'c']

NameError: name 'data' is not defined